name: Node.js Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      mongo:
        image: "mongo:latest"
        ports:
          - 27017:27017
        volumes:
          - /init_scripts:/docker-entrypoint-initdb.d
    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24.x"

      - run: corepack enable

      - name: Install
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm run build

      - name: Run unit tests
        run: pnpm run test:cov

      - name: Run e2e tests
        env:
          MONGODB_URI: "mongodb://bizaway:bizaway@localhost:27017/tech_challenge"
        run: pnpm run test:e2e

      - name: Login to container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: bizaway/devops-tech-challenge:latest
